name: Pull Player Data

on:
  push:
    branches:
      - main

jobs:
  run-tool:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run MTG Player Info Tool
        run: |
          node cli.js --unity-id 16215 --mtgelo-id 3irvwtmk --melee-user k0shiii --topdeck-handle @k0shiii
          node cli.js --unity-id 10328 --mtgelo-id e40ljd9z
          node cli.js --unity-id 10211 --mtgelo-id 7112ynp9
          
